@model Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h3>Вход</h3>

<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary()
        </div>
        <div>
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        </div>
        <br />
        <div>
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    }
</div>
