@model Core.ViewModels.WorkerViewModel

@{
    ViewBag.Title = "Профиль";
}

<div>
    Ща бы тест...
</div>

<div>
    @Html.LabelFor(m => m.LastName).
    @Html.TextBoxFor(m => m.LastName)

    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)

    @Html.LabelFor(m => m.MiddleName)
    @Html.TextBoxFor(m => m.MiddleName)

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Salary)
    @Html.TextBoxFor(m => m.Salary)

    @Html.LabelFor(m => m.IsWork).
    @Html.TextBoxFor(m => m.IsWork)

    @Html.LabelFor(m => m.SeniorityFullYears)
    @Html.TextBoxFor(m => m.SeniorityFullYears)
</div>
