@model Core.ViewModels.WorkerViewModel

@{
    ViewBag.Title = "Профиль";
}

<div>
    Ща бы тест...
</div>

<div>
    @Html.LabelFor(m => m.LastName)
    @Html.LabelFor(m => m.FirstName)
    @Html.LabelFor(m => m.MiddleName)
    @Html.LabelFor(m => m.Email)
    @Html.LabelFor(m => m.Salary)
</div>
